
  
  <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="#">
                            <img class="blocktext" src="assets/images/pifsss.png" alt="Pifss" />
                        </a>
                    </div>
                    <br>
                    <div class="login-form">
                        <form action="" method="post">
                            
                            <div class="form-group">
                                <h5 class="name"> Are you satisfied with the level of service provided 
                                     when completing your transaction?
                                     </h5>
<br><br>
                       
<div class="col col-md-12">
                                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                  &nbsp; &nbsp; &nbsp; 
                           
                                        <div class="form-check-inline form-check">
                                            <label for="inline-radio1" class="form-check-label ">
                                                <input type="radio" id="inline-radio1" name="inline-radios" value="option1" class="form-check-input">Yes
                                            </label>
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            <label for="inline-radio2" class="form-check-label ">
                                                <input type="radio" id="inline-radio2" name="inline-radios" value="option2" class="form-check-input">No
                                            </label>
                                           
                                        </div>
                                    </div>

                            </div>


                      

                            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Send </button>
                           
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

