<div class="page-wrapper">
    <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="#">
                            <img class="blocktext" src="assets/images/pifsss.png" alt="Pifss" />
                        </a>
                    </div>
                    <div class="login-form">
                        <form [formGroup]="register_form">




                            <mat-form-field  class="example-full-width">

                                <mat-label>Customer ID Number</mat-label>
                                <input type="number" max="99999999" min="100000000" matInput formControlName="form_id" class="au-input au-input--full"  placeholder="Enter your ID">
                               
                            </mat-form-field>


                           
                            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit" (click)="register()"  >Sign in </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>