<!-- MAIN CONTENT-->
  <div class="main-content">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row">
            <div class="polaroid">
                <img src="assets/images/Pifssimg.jpg" alt="Card image cap" style="width:100%">
                
              </div>

          

          <div class="col-md-12">

<br>
                <strong class="card-title">
                </strong>
              
                <br>
                <br>
               
                <div class="typo-articles">
                  <p>
                    PIFSS: Public Pension in Kuwait, Middle East
                    The Public Institution for Social Security (PIFSS) is a Public Pension located in Kuwait Kuwait,
                     Middle East, and was founded in 1955. 
                     Current Assets for PIFSS is $112,000,000,000 and SWFI has 14 periods of historical assets,
                      9 subsidiaries, 37 transactions, 102 personal contacts available for CSV Export.
                    
                   
                  
                </div>

                <div class="row m-t-25">
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c1">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="zmdi zmdi-account-o"></i>
                                    </div>
                                    <div class="text">
                                        <h2>102</h2>
                                        <span>Personals</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart1"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c2">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                    </div>
                                    <div class="text">
                                        
                                        <h2>9</h2>
                                        <span>Subsidiaries
                                        </span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart2"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c3">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="zmdi zmdi-calendar-note"></i>
                                    </div>
                                    <div class="text">
                                        <h2>37
                                        </h2>
                                      
                                        

                                        <span> transactions</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart3"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c4">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="zmdi zmdi-money"></i>
                                    </div>
                                    <div class="text">
                                        <h2>120 M$
                                        </h2>
                                      
                                        <span>Assets</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart4"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              


               
                    <h2 class="title-1 m-b-25">Biography</h2>
                    <div class="table-responsive table--no-card m-b-40">

                        Kuwait began its first pension scheme in 1966 within the public sector and civil employee retirement system. The first legislation regulating pensions was enacted in 1960. These regulations covered government, military and civil employees.

The state of Kuwait’s social security system was set up in 1976 in accordance with Amiri Law Decree Number 51. The Public Institution for Social Security was thereby established to implement the Kuwaiti social security system, covering old age, sickness, death and disability insurance for public and private sector workers as well as the self-employed.
                     
                    </div>
                




                <div class="col-lg-9">
                    <h2 class="title-1 m-b-25">Details</h2>
                    <div class="table-responsive table--no-card m-b-40">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th colspan="2">Public Institution for Social Security Details </th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Region :</td>
                                    <td>Middle East</td>
                                   
                                </tr>
                                <tr>
                                    <td>Country :</td>
                                    <td>Kuwait</td>
                                  
                                </tr>
                                <tr>
                                    <td>Established At:</td>
                                    <td>1955</td>
                                  
                                </tr>
                                <tr>
                                    <td> Type: </td>
                                    <td>Public Pension</td>
                                  
                                </tr>
                               
                               
                               
                            </tbody>
                        </table>
                    </div>
                </div>


          </div>
        </div>
      </div>
    </div>
  </div>
<!-- END PAGE CONTAINER-->
