


 <!-- MENU SIDEBAR-->
      <aside class="menu-sidebar2 d-none d-md-block">

        <div class="imgcontainer">
        <a href="#">
            <img src="assets/images/icon/PIFSSlogos.jpg" alt="Avatar" class="avatar">  </a>     
        </div>
          <div >
              <nav class="navbar-sidebar2">
                  <ul class="list-unstyled navbar__list">
                     

                      <li>

                        <a href="" [routerLink]="['/about']" >

                            <i class="fa fa-building"></i> About Enterprise</a>                     
                      </li>

                     

                      <li>
                        <a href="" [routerLink]="['/services']" >   
                            <i class="fa fa-briefcase"></i>Services </a>
                    </li>

                   
                      
                    <li *ngIf="nvisible">
                        <a href="" [routerLink]="['/login']" >
                            <i class="fa fa-user-md"></i>Login </a>
                      </li>
                     
          

                      <li>
                        <a href="" [routerLink]="['/feedback']" >
                            <i class="fa fa-comments"></i>Feedback </a>
                      </li>

                      <li>
                        <a href="" [routerLink]="['/help']" >
                            <i class="fa fa-exclamation-triangle"></i>Help </a>
                      </li>
                     
                      <li>
                        <a href="" *ngIf="nvisible" [routerLink]="['/signup']" >
                            <i class="fa fa-user-md"></i> Registration </a>
                      </li>
          
           <li>
            <a href="" [routerLink]="['/contact']" >
                              <i class="fas fa-map-marker-alt"></i>Contact us/Locations</a>
                      </li>

            <li *ngIf="visible">
                        <a href=""  [routerLink]="['/login']" (click)="logout()">
                                          <i class="fas fa-power-off"></i>Logout</a>
            </li>


                    
                  </ul>
              </nav>
          </div>
      </aside>
      <!-- END MENU SIDEBAR-->

      <!-- PAGE CONTAINER-->
      <div  class="page-container">
          <!-- HEADER DESKTOP-->
         
          <!-- HEADER DESKTOP-->

          <!-- MAIN CONTENT-->
        <div class="oo">
          
              <div class="section__content section__content--p10">
                  
                         
                      <router-outlet></router-outlet>
                     
              </div>

        </div>
          <!-- END MAIN CONTENT-->
          <!-- END PAGE CONTAINER-->
      </div>

